# Build output
target/

# Maven Wrapper JAR und Properties sollen nicht ignoriert werden
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# OS files
.DS_Store

# IDEs
.idea/
.vscode/
*.iml

# Env files
.env*
